html {
    font-family: 'Roboto';
    font-size: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $bkg-main;
}

body {
    min-height: calc(100vh + 6rem);
}

div,
ul,
li,
input,
textarea,
select,
option {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
}

p {
    text-align: justify;
}

.air {
    display: block;
    height: 10rem;
}

.air-small {
    display: block;
    height: 5rem;
}

.tcenter {
    text-align: center;
}

.tleft {
    text-align: left;
}

.tright {
    text-align: right;
}
