button {
    box-sizing: border-box;
    width: 16rem;
    height: 4rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: $link-active; // #3a9e3a;
    border: none;
    outline: none;
    transition: transform .1s ease-out;
    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(0.98);
    }
    &.btn-small {
        width: 10rem;
        height: 3rem;
    }
}

.button-group {
    text-align: center;
    @media (max-width: 480px) {
        button {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}
