@font-face {
    font-family: 'clio';
    src: url('fonts/clio/clio.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    cursor: pointer;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "clio";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
    content: '\e800';
}

.icon-star:before {
    content: '\e801';
}

.icon-ok:before {
    content: '\e802';
}

.icon-cancel:before {
    content: '\e803';
}

.icon-plus:before {
    content: '\e804';
}

.icon-attach:before {
    content: '\e805';
}

.icon-minus:before {
    content: '\e806';
}

.icon-picture:before {
    content: '\e807';
}

.icon-edit:before {
    content: '\e808';
}

.icon-bell:before {
    content: '\e809';
}

.icon-trash:before {
    content: '\e80a';
}

.icon-phone:before {
    content: '\e80b';
}

.icon-settings:before {
    content: '\e80c';
}

.icon-down-bold:before {
    content: '\e80d';
}

.icon-left-bold:before {
    content: '\e80e';
}

.icon-right-bold:before {
    content: '\e80f';
}

.icon-up-bold:before {
    content: '\e810';
}

.icon-down:before {
    content: '\e811';
}

.icon-left:before {
    content: '\e812';
}

.icon-right:before {
    content: '\e813';
}

.icon-up:before {
    content: '\e814';
}

.icon-check:before {
    content: '\e815';
}

.icon-users:before {
    content: '\e816';
}

.icon-save:before {
    content: '\e817';
}

.icon-forward:before {
    content: '\e818';
}

.icon-print:before {
    content: '\e819';
}

.icon-download:before {
    content: '\e81a';
}

.icon-link:before {
    content: '\f08e';
}

.icon-check-empty:before {
    content: '\f096';
}

.icon-facebook:before {
    content: '\f09a';
}

.icon-docs:before {
    content: '\f0c5';
}

.icon-menu:before {
    content: '\f0c9';
}

.icon-comment:before {
    content: '\f0e5';
}

.icon-star-half:before {
    content: '\f123';
}

.icon-attention:before {
    content: '\f12a';
}

.icon-cap:before {
    content: '\f19d';
}

.icon-file-pdf:before {
    content: '\f1c1';
}

.icon-file-word:before {
    content: '\f1c2';
}

.icon-file-excel:before {
    content: '\f1c3';
}

.icon-file-powerpoint:before {
    content: '\f1c4';
}

.icon-file-image:before {
    content: '\f1c5';
}

.icon-file-archive:before {
    content: '\f1c6';
}

.icon-file-code:before {
    content: '\f1c9';
}

.icon-calc:before {
    content: '\f1ec';
}
