li {
    list-style: none;
    &.link-item {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        color: white;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            color: $link-active;
            text-decoration: none;
        }
    }
}

.link-active {
    a {
        color: $link-active;
        text-decoration: none;
    }
}

.slide-routes-leave-active {
    opacity: 0;
    transition: opacity .5s ease-out;
    animation: routes-slide-out .5s ease-out forwards;
}

.slide-routes-leave {
    opacity: 1;
    transform: translateY(0);
}

.slide-routes-enter-active {
    animation: routes-slide-in 1s ease-out forwards;
}

@keyframes routes-slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes routes-slide-in {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}
