.lab-page {
    .item-container {
        height: 400px;
    }
    .item {
        display: block;
        height: 80px;
        width: 100%;
        margin-bottom: 10px;
        background-color: orange;
    }
    .scr-scroller-wrapper {
        margin-bottom: 5rem;
    }
}
