.playground {
    padding: 10px;
    color: blue;
    background-color: lightcyan;
    border: darkcyan dashed 4px;
    .pg-red {
        color: red;
    }
}
.playground-details {
    padding: 20px;
    border: 2px lightcoral dashed;
}