.navbar-component {
    z-index: 10;
    margin-right: -3rem;
    background-color: $bkg-dark;
    li a:hover {
        color: $link-active;
    }
    .nav-block {
        z-index: 10;
        height: 6rem;
        padding: 1rem;
        background-color: $bkg-dark;
    }
    .link-item {
        position: relative;
        vertical-align: middle;
        a {
            padding: 1rem 0.5rem;
            cursor: pointer;
        }
    }
    .sub-nav-label {
        display: block;
    }
    .sub-nav {
        position: absolute;
        top: 2.8rem;
        left: -0.5rem;
        z-index: 10;
        display: inline-block;
        max-height: 0;
        margin-top: 2rem;
        padding-left: 1rem;
        overflow: hidden;
        background-color: $bkg-dark;
        transition: all .3s ease-out;
        &.sub-nav-open {
            max-height: 20rem;
            overflow: initial;
        }
        .link-item {
            display: block;
            a {
                display: inline-block;
                width: 100%;
            }
        }
    }
    .responsive-nav-header {
        display: none;
        height: 4rem;
        margin-right: 0;
        color: white;
        background-color: $bkg-dark;
        .nav-toggle {
            float: right;
            margin-right: 3rem;
            padding: 1rem;
            cursor: pointer;
        }
    }
    @media (max-width: 1024px) {
        position: relative;
        .nav-block {
            position: absolute;
            top: 4rem;
            right: 0;
            width: 0;
            height: auto;
            max-width: none;
            padding: 0;
            overflow: hidden;
            transition: all .4s ease-out;
            &.open {
                width: 100%;
            }
        }
        .responsive-nav-header {
            display: block;
        }
        .sub-nav {
            position: relative;
            top: 0;
            display: block;
            margin-top: 0;
            padding-left: 1rem;
            background-color: $nav-hover;
            .link-item {
                padding: 0 1rem;
                margin: 0;
                &:first-child {
                    padding-top: 1rem;
                }
                &:last-child {
                    margin-bottom: 1rem;
                }
            }
        }
        .link-item {
            display: block;
            padding: 0;
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                margin-bottom: 3rem;
            }
            &:hover {
                background-color: $nav-hover;
            }
            a {
                display: block;
                width: 100%;
                padding: 1rem 0 1rem 2rem;
            }
        }
    }
}
