.messages-component {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: $z4;
    width: 25%;
    min-width: 28rem;
}

.message-component {
    position: relative;
    padding: 1rem;
    background-color: $warn;
    &.success {
        background-color: $success;
    }
    .date-time {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 1.2rem;
        .time {
            font-style: italic;
        }
    }
    .message-headline,
    .message-body {
        margin: 1rem 0;
        font-size: 1.4rem;
    }
}

.message-enter {
    opacity: 0;
}

.message-enter-active {
    animation: message-in .4s ease-out forwards;
    transition: opacity .4s;
}

.message-leave-active {
    opacity: 0;
    animation: message-out .25s ease-out forwards;
    transition: opacity .5s;
}

.message-move {
    transition: transform .5s;
}

@keyframes message-in {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes message-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
